<div class="header bg-primary pb-3 pt-5 pt-md-8">

    <div class="container-fluid">
        <div class="header-body">
        </div>
    </div>
</div>



<div class="container-fluid">
    <div class="row">
        <full-calendar id="fullCalendar" onchange="  document.getElementById('fullCalendar').fullCalendar('unselect')"
            #calendar [options]='calendarOptions' style="width: 100%" class="show-content"></full-calendar>
    </div>
</div>


<!-- Modal Nuevo Task -->
<div bsModal class="modal fade" #modalNewTask="bs-modal" [config]="{backdrop: 'static'}" (onHidden)="listarTask()"
    tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-static-name" class="modal-title pull-left">Nuevo Task</h4>
                <button type="button" class="btn-close close pull-right" aria-label="Close"
                    (click)="modalNewTask.hide()">
                    <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
            </div>
            <app-new-task (respuestaNewTaskComponent)="modalNewTask.hide();listarTask();" [in_dateSelect]="dateSelect"
                *ngIf="taskCreateOk"></app-new-task>
        </div>
    </div>
</div>




<!-- Modal Edit Task -->
<div bsModal class="modal fade" #modalEditTask="bs-modal" [config]="{backdrop: 'static'}" (onHidden)="listarTask()"
    tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-static-name" class="modal-title pull-left">Editar Task</h4>
                <button type="button" class="btn-close close pull-right" aria-label="Close"
                    (click)="modalEditTask.hide()">
                    <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
            </div>
            <app-edit-task (respuestaEditTaskComponent)="modalEditTask.hide(); listarTask();" [in_editTask]="taskEdit"
                *ngIf="taskEditOk"></app-edit-task>
        </div>
    </div>
</div>