 

.outline{
  background: transparent !important
}

.danger {
  font-size: 12px;
  border: 1px solid ;
  border-color: #B51D1D !important;
  color: #B51D1D!important;
}
.danger:hover {
  background: #B51D1D !important;
  color: white !important;
}
 
