 

.outline{
  background: transparent !important
}

.danger {
  font-size: 12px;
  border: 1px solid ;
  border-color: red !important;
  color: red!important;
}
.danger:hover {
  background: red !important;
  color: white !important;
}
 
