#hamburgerButton {
  padding: 12px 16px;
  background: linear-gradient(87deg, #f5365c 0, #f56036 100%) !important;
  position: fixed;
  bottom: 25px;
  left: 95%;
  @media (max-width: 900px) {
    left: 87% !important;
  }
  @media (max-width: 520px) {
    left: 82% !important;
  }
  border-radius: 50%;
  z-index: 1;
  i {
    color: whitesmoke !important;
  }
  cursor: pointer;
}

#dropdown-dropup {
  background: transparent !important;
  border-color: transparent !important;
  border-left-width: 33px;
  border-bottom-width: 45px;
  padding-bottom: 0px;
  padding-top: 0px;
}

#dropdown-dropup i {
  padding: 8px;
  border-radius: 50%;
  background: linear-gradient(87deg, #f5365c 0, #f56036 100%) !important;
}

.notificationItem {
  width: 265px;
  color: rgb(57, 145, 233) !important;
  font-weight: bold !important;
  font-size: 0.95rem !important;
  padding-left: 62px;
}

.dropdown-menu {
  box-shadow: none !important;
}

li {
  cursor: pointer;
}

i {
  cursor: pointer;
}

.history {
  padding: 8px !important;
}

:root {
  // --icon-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bodyClass {
  width: 100%;
  right:    0;
  bottom:   1%;
  display: flex;
  position: fixed;
  left: 90%;
  @media (max-width: 1600px) {
    left: 84% !important;
  }
  @media (max-width: 1200px) {
    left: 81% !important;
  }
  @media (max-width: 1000px) {
    left: 73% !important;
  }
  @media (max-width: 800px) {
    left: 68% !important;
  }
  @media (max-width: 600px) {
    left: 53% !important;
  }
  @media (max-width: 400px) {
    left: 50% !important;
  }
  @media (max-width: 360px) {
    left: 47% !important;
  }
  @media (max-width: 280px) {
    left: 33% !important;
  }
  z-index: 1;
}
li {
  list-style-type: none;
}
nav {
  min-width: 300px;
 
  border-radius: 30px;
}

nav  li {

  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}



nav .icon {
  height: var(--icon-size);
  width: var(--icon-size);
  cursor: pointer;
}

.icon i,
.icon svg {
  font-size: 1.8rem !important;
}


nav button {
  --size: 65px;
  border: none;
  background: none;
  @media (max-height: 870) {
    margin-bottom: 35% !important;
  }
  width: var(--size);
  height: var(--size);
  display: flex;
}
nav button span {
  width: var(--size);
  height: var(--size);
  border-radius: 50px;
  background: #75a0ff !important;
  transition: height 200ms ease, margin 200ms ease;
  overflow: hidden; //870

}
nav button .icon {
  --icon-size: 24px;
  cursor: pointer;
  transition: transform 320ms ease, opacity 200ms ease;
}

nav button .icon.plus {
  width: var(--size);
  height: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
}
nav button .icons-container {
  width: 100%;
  height: calc(2 * var(--size));
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav button .icons-container .icon {
  background: rgba(204, 220, 255, 0.25);
  width: calc(1.8 * var(--icon-size));
  height: calc(1.8 * var(--icon-size));
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: calc(-25% + var(--index) * 40%);
  transform: translate(-50%, 100%) rotate(-45deg);
  transition: transform 300ms cubic-bezier(0.65, -0.55, 0.25, 1.25), background 150ms ease;
  transition-delay: calc(var(--index) * 55ms);
}
nav button .icons-container .icon:hover {
  background: rgba(204, 220, 255, 0.45);
}
nav button:focus {
  border: none;
  outline: none;
}
nav button:focus span {
  height: calc(2.6 * var(--size));
  margin-top: calc(-1.6 * var(--size));
}
nav button:focus .icon.plus {
  transform: translateY(-50px) rotate(180deg);
  opacity: 0;
}
nav button:focus .icons-container .icon {
  transform: translate(-50%, -50%) rotate(0);
}
nav button::-moz-focus-inner {
  border: none;
}
