/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/




* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bodyClass {
  width: 100%;
  right:    0;
  bottom:   1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  left: 90%;
  @media (max-width: 1600px) {
    left: 84% !important;
  }
  @media (max-width: 1200px) {
    left: 81% !important;
  }
  @media (max-width: 1000px) {
    left: 73% !important;
  }
  @media (max-width: 800px) {
    left: 68% !important;
  }
  @media (max-width: 600px) {
    left: 53% !important;
  }
  @media (max-width: 400px) {
    left: 50% !important;
  }
  @media (max-width: 360px) {
    left: 47% !important;
  }
  @media (max-width: 280px) {
    left: 33% !important;
  }
  z-index: 1;
}
li {
  list-style-type: none;
}
nav {
  min-width: 300px;
 
  border-radius: 30px;
}

nav  li {

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}



nav .icon {
  height: var(--icon-size);
  width: var(--icon-size);
  cursor: pointer;
}

.icon i,
.icon svg {
  font-size: 1.8rem !important;
}


nav button {
  --size: 65px;
  border: none;
  background: none;
  @media (max-height: 870) {
    margin-bottom: 35% !important;
  }
  width: var(--size);
  height: var(--size);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav button span {
  width: var(--size);
  height: var(--size);
  border-radius: 50px;
  background: #75a0ff !important;
  -webkit-transition: height 200ms ease, margin 200ms ease;
  -o-transition: height 200ms ease, margin 200ms ease;
  transition: height 200ms ease, margin 200ms ease;
  overflow: hidden

}
nav button .icon {
  --icon-size: 24px;
  cursor: pointer;
  -webkit-transition: opacity 200ms ease, -webkit-transform 320ms ease;
  transition: opacity 200ms ease, -webkit-transform 320ms ease;
  -o-transition: transform 320ms ease, opacity 200ms ease;
  transition: transform 320ms ease, opacity 200ms ease;
  transition: transform 320ms ease, opacity 200ms ease, -webkit-transform 320ms ease;
}

nav button .icon.plus {
  width: var(--size);
  height: var(--size);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav button .icons-container {
  width: 100%;
  height: calc(2 * var(--size));
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav button .icons-container .icon {
  background: rgba(204, 220, 255, 0.25);
  width: calc(1.8 * var(--icon-size));
  height: calc(1.8 * var(--icon-size));
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  top: calc(-25% + var(--index) * 40%);
  -webkit-transform: translate(-50%, 100%) rotate(-45deg);
      -ms-transform: translate(-50%, 100%) rotate(-45deg);
          transform: translate(-50%, 100%) rotate(-45deg);
  -webkit-transition: background 150ms ease, -webkit-transform 300ms cubic-bezier(0.65, -0.55, 0.25, 1.25);
  transition: background 150ms ease, -webkit-transform 300ms cubic-bezier(0.65, -0.55, 0.25, 1.25);
  -o-transition: transform 300ms cubic-bezier(0.65, -0.55, 0.25, 1.25), background 150ms ease;
  transition: transform 300ms cubic-bezier(0.65, -0.55, 0.25, 1.25), background 150ms ease;
  transition: transform 300ms cubic-bezier(0.65, -0.55, 0.25, 1.25), background 150ms ease, -webkit-transform 300ms cubic-bezier(0.65, -0.55, 0.25, 1.25);
  -webkit-transition-delay: calc(var(--index) * 55ms);
       -o-transition-delay: calc(var(--index) * 55ms);
          transition-delay: calc(var(--index) * 55ms);
}
nav button .icons-container .icon:hover {
  background: rgba(204, 220, 255, 0.45);
}
nav button:focus {
  border: none;
  outline: none;
}
nav button:focus span {
  height: calc(2.6 * var(--size));
  margin-top: calc(-1.6 * var(--size));
}
nav button:focus .icon.plus {
  -webkit-transform: translateY(-50px) rotate(180deg);
      -ms-transform: translateY(-50px) rotate(180deg);
          transform: translateY(-50px) rotate(180deg);
  opacity: 0;
}
nav button:focus .icons-container .icon {
  -webkit-transform: translate(-50%, -50%) rotate(0);
      -ms-transform: translate(-50%, -50%) rotate(0);
          transform: translate(-50%, -50%) rotate(0);
}
nav button::-moz-focus-inner {
  border: none;
}