<div class="bodyClass">
    <nav>
        <li>
            <button id="btnAnimation">
                <span>
                    <div class="icon plus">
                        <i style="color:white" class="fa fa-plus"></i>
                    </div>
                    <div class="icons-container" onclick="document.getElementById('btnAnimation').blur()">
                        <div class="icon" style="--index: 2;">
                            <i style="color:white" href="#" class="fa fa-angle-down"></i>
                        </div>
                        <div class="icon" style="--index: 1;" (click)="suscribeToNotifications()">
                            <i style="color:white" class="fas fa-bell  "></i>
                        </div>
                        <div class="icon" style="--index: 0;" (click)="getRegistrationAuthnWeb()">
                            <i style="color:white" class="fa fa-fingerprint  "></i>
                        </div>
                    </div>
                </span>
            </button>
        </li>
    </nav>
</div>