<form [formGroup]="editTaskForm" (ngSubmit)="editarTask()">
    <div style="color: black;" class="modal-body">

        <div class="col">
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Titulo (*)</label>
                <input type="text" placeholder="Titulo" class="form-control" formControlName="title" maxlength="120">
                <div *ngIf="editTaskForm.controls.title.invalid && editTaskForm.controls.title.touched">
                    <small class="text-left" *ngIf="editTaskForm.controls.title.errors?.required">
                        Se requiere titulo</small>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Rango Fechas (*)</label>
                <input readonly type="text" placeholder="Daterangepicker" class="form-control" bsDaterangepicker
                    formControlName="dateRange"  
                    [bsConfig]="{ rangeInputFormat :'YYYY-MM-DD' , dateInputFormat: 'YYYY-MM-DD' ,containerClass:'theme-blue',  displayOneMonthRange: true}">

            </div>
        </div>


        <div class="col">
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Tipo (*)</label>
                <ng-select [items]="listarTypes" [closeOnSelect]="true" [hideSelected]="true" bindValue="codType"
                    [clearable]="false" bindLabel="typeDescription" placeholder="Seleccionar Tipo"
                    formControlName="codType">
                </ng-select>


            </div>
        </div>


        <div class="col">
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Descripcion (*)</label>
                <input type="text" placeholder="Descripcion" class="form-control" formControlName="description"
                    maxlength="120">
            </div>
        </div>

<!--[minDate]="minDate" [maxDate]="maxDate"-->


        <div class="col">
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Usuarios (*)</label>
                <ng-select [items]="listaUsuarios" [multiple]="true" [closeOnSelect]="false" [hideSelected]="true"
                    [clearable]="false" (remove)="removeUserToTask($event)" (add)="addUserToTask($event)"
                    bindLabel="nombre" placeholder="Seleecionar usuario" formControlName="users">
                </ng-select>

            </div>
        </div>


    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="editTaskForm.invalid">Editar Task</button>
    </div>
</form>